@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>This project was the final project for BU MET CS651. The main focus was to make a multiplayer game using the following:
    <ul>
        <li>.NET Framework 4.6 MVC (implicitly using OWIN)</li>
        <li>SingalR</li>
        <li>TypeScript</li>
        <li>Phaser Game Engine</li>
    </ul>
</p>
