@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Name:</strong> Brian Tran<br />
    <strong>School:</strong> Boston University Metropolitan College<br />
    <strong>Class:</strong> BU MET CS651 Fall 2016<br />
    <strong>Degree:</strong> Masters in Computer Science<br />
    <strong>Graduating:</strong> Fall 2016!<br />
    <strong>Contact:</strong>   <a href="mailto:btran89@bu.edu">btran89@bu.edu</a><br />
</address>
