@{
    ViewBag.Title = "Tran Mini Game";
}

<div class="container">
    <div id="game"></div>
</div>

@Scripts.Render("~/bundles/jquery")

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}

@Scripts.Render("~/bundles/gamejs")