<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="AdventureWorks2000ConnectionString" connectionString="Data Source=MM146685-PC;Initial Catalog=AdventureWorks2000;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
