<div>
    <div class="copy">
        <h3>
            Classroom Usage</h3>
	</div>
    <p>
    I usually teach at the School of Management (SMG). I have no idea why they have me teaching in the Coloring Book School (CGS) this year!
    </p>

    <p> <h4>SMG 220:</h4>
    <wj-radial-gauge 
        class="radialgauge"
        value="ctx.gauge3.value" 
        min="{{ctx.gauge3.min}}" 
        max="{{ctx.gauge3.max}}">
    </wj-radial-gauge>
    </p>

    <p> <h4>SMG 240:</h4>
    <wj-radial-gauge 
        class="radialgauge"
        value="ctx.gauge4.value" 
        min="{{ctx.gauge4.min}}" 
        max="{{ctx.gauge4.max}}">
    </wj-radial-gauge>
    </p>

    <p> <h4>SMG 242:</h4>
    <wj-radial-gauge 
        class="radialgauge"
        value="ctx.gauge5.value" 
        min="{{ctx.gauge5.min}}" 
        max="{{ctx.gauge5.max}}">
    </wj-radial-gauge>
    </p>
    </div>
</div>
