<div>
    <div class="copy">
        <h3>
            Request maintenance on classroom projectors</h3>
        <p>
            This is where you request maintenance for classroom projectors. If it's broke, don't teach in that classroom! You can't fix it, you're not Han Solo!</p>
        <p>
        <button 
            type="button" 
            data-toggle="collapse"
            data-target=".collapsed-content, .btn.btn-default.btn-xs.collapse"
            class="btn btn-default btn-xs collapse in"">
            Broken!
        </button>
        <br />

        <img src="imgs/mf5-bay94.jpg" alt="Millenium Falcon5" height="800" width="1200"> 
    </div>
</div>
