@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "GoodStudents";
}

<h2>
    I have @ViewData["Number"] good students :-)
</h2>

<table style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Address</th>
        <th>Grade</th>
    </tr>
    @foreach (Model.clsStudent student in (Model.clsStudents)ViewData["Message"])
    {
        <tr>
            <td>@student.FirstName</td>
            <td>@student.Address</td>
            <td>@student.Grade</td>
        </tr>
    }
</table>
