<div>
	<div class="copy">
		<h3>
			My publications</h3>
		<p>
			In the last few years.</p>
	</div>
	<div>
		<h4>Publications</h4>
		<div class="table-responsive">
			<table class="table table-condensed table-bordered">
				<thead>
					<tr class="active">
						<th>Title</th>
						<th>Abstract</th>
						<th>Publication</th>
					</tr>
				</thead>
				<tbody>
					<tr> 
						<!--<td class="text-right">Certification F-16</td>-->
                        <td>T-SQL MapReduce</td>
						<td>Revisiting the MapReduce algorithm to determine whether it represents a paradigm shift in the development of scalable, data-intensive applications or rather a specific implementation of well-known database techniques developed nearly 25 years ago as stipulated by database experts David DeWitt and Michael Stonebraker, CodeProject magazine, 28 July 2013</td>
						<td>http://www.codeproject.com/Articles/627421/T-SQL-MapReduce</td>
					</tr>
                    <tr> 
						<td>A Mashup Framework for Composable Resources in the Presence of Unreliability, ICACM</td>
						<td>How do you compose from resources on the Web when there is significant unreliability in the availability of the resources, but also on whether or not they have been infected by viruses.</td>
						<td>(International Conference on Advances in Computing and Management, Eric Braude, Dino Konstantopoulos), Pune, India, January 2012
</td>
					</tr>
                    <tr>
						<td>Air Force SOA Enterprise Service Bus C4I Systems Integration Study</td>
						<td>The so-called Air Force "Kill Chain" involves many Command and Control systems that cooperate to produce combat and air patrol missions for fighter jets as well as command platforms like AWACS and JOINT STARS. In this article we investigate principles of system integration that streamline and accelerate the process and minimze required manpower.</td>
						<td>A chapter in BPM Excellence in Practice, using BPM for Competitive Advantage (ISBN: 9780977752737), Future Strategies Inc., Lighthouse Pt., FL., August 2008, (Timothy D. Kehoe, Irene Chang, Dave Czulada, Howard Kong, Dino Konstantopoulos, Linus Chow, Charles Medley)</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br /><br />
	</div>
</div>