<div>
    <div class="copy">
        <h3>
            About me</h3>
        <p>
            Dino is a lead information systems engineer with the MITRE Corporation, a Federally Funded Research and Development Center (FFRDC) applying systems engineering and Information Technology to address critical national problems. Dino also teaches Web development and Cloud computing at Boston University's Metropolitan College.</p>
        <h4>
            What classes have I taught so far?</h4>
        <ul>
            <li>MET CS 651</li>
            <li>MET CS 751</li>
            <li>MET CS 755</li>
        </ul>

        <p>The angular demo showcases 10 things critical to a desktop & mobile cross-platform solution:
            <ul>
                <li>1. Angular and the following best-of-breed javascript libraries: jQuery and jQuery-mobile, Bootstrap, Mobiscroll, Wijmo, and Webix</li>
                <li>2. Single pane of glass (modal dialogs for data entry, not another web page!)</li>
                <li>3. Permanent watermark/notification panel (BU MET CS 651 panel)</li>
                <li>4. Mobile data input controls (add new seminar capability)</li>
                <li>5. Calendar scheduling (seminars view)</li>
                <li>6. Tiles (drag and drop on HTML canvas) in support of comittee organizational functionality</li>
                <li>7. Customizable UI skins (Theme, on horizontal ribbon)</li>
                <li>8. Adaptive menus (from vertical accordion to horizontal depending on browser form factor)</li>
                <li>9. Ajax JSON-based info exchange for view grid population (instructors and classes) </li>
                <li>10.Universal filtering (Filter textbox on instructors and classes)</li>
            </ul>
        </p>
        <p>Angular makes it simple to implement large enterprise apps, to wire up enterprise-branded HTML fragments for reuse, to patch in enterprise-branded javascript fragments via the Model-View-Binder (MVB) pattern, and to mix and match other javascript libraries that provide built-in capabilities, often for free or for a small source-code-included license fee.
            The resulting code is easy to understand and evolve. Today, coding directly in javascript/CSS/HTML with the help of open-source javascript libraries and frameworks is straightforward. It is the state of the art for Web design and development.
            However, keep in mind that this is Angular 1.x, and that because of the widespread adoption of the ECMAScript6 standard and its new features, angular is poised to change significantly with version 2.x.
        </p>
    </div>
</div>