@section Scripts
{
    <script src="~/Scripts/react/react.min.js"></script>
    <script src="@Url.Content("~/Scripts/HelloWorld.jsx")"></script>
}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>

    </body>
</html>
