@{
    ViewData["Title"] = "Home Page";
}

@section scripts
{
    <script src="~/js/main.js"></script>
}

<div class="row">
    <h2>Input</h2>
    <textarea name="input" rows="2" cols="50" id="input" class="input"></textarea>
</div>

<div class="row">
    <div class="col-sm-8">
        <h2>Current Strategy</h2>
        <div id="jsGrid"></div>
        <button id="submit">Submit</button>
    </div>
    <div class="col-sm-4">
        <h2>Substitution Strategies</h2>
        <button id="letter">Letter Frequency Strategy</button>
        <button id="bigram">Bigram</button>
        <button id="trigram">Trigram</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Output</h2>
        <div id="output"></div>
    </div>
</div>
